.container {
    display: grid;
    grid-template-columns: 400px auto 400px;
    width: 100%;
}

.logo {
    height: 20px;
}
.sectionContainer {
    display: flex;
    align-items: center;
}
.crown {
    color: rgb(255, 179, 0);
}
.download {
    margin-left: 1rem;
}
.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.projectName {
    max-width: 300px;
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
}